.vsc-initialized {
    background-color: #f8f9fa;
}

.is-invalid::placeholder {
    color: red !important;
}

/* navbar */

.navbar {
    width: 100%;
    height: 76px;
    margin: 0 auto;
    padding: 0 5%;
    /* text-align: center; */
    background-color: white !important;
    border-bottom: 1px solid rgba(0,0,0,.0975)
}

.nav-cont {
    width: 925px;
    margin: 0 auto;
    padding: 0px 20px;
    display: inline-flex;
    justify-content: space-between;
}

.cont {
    /* width: 132px; */
}

.cont div {
    margin: auto 0;
    display: inline-flex;
    
}

.fab {
    color: black;
    font-size: 24px;
}

.far {
    color: darkgrey;
    font-size: 24px;
}

.nav-link-left {
    display: inline-flex;
    height: 40px;
    width: 160px;
    text-align: center;
    vertical-align: middle;
}

.nav-link-left i {
    margin: 8px auto;
    padding-right: 14px;
}

.instagram-logo {
    font-family: 'Rancho', cursive;
    color: black;
    font-size: 30px;
    padding-left: 14px;
    border-left: 1px solid darkgrey;
}

/* landing */
.landing h1 {
    font-family: 'Rancho', cursive;
    font-size: 96px;
}

.btn-start {
    padding: 10px 20px !important;
}

/* login */
.login {
    width: 350px;
    /* height: 65.25vh; */
    margin: 90px auto 0;
    border: 1px solid #e6e6e6;
}

.login h1 {
    margin-top: 25px;
    font-family: 'Rancho', cursive;
    color: black;
    /* font-size: 30px; */
}

.loginInput {
    /* background-color: red; */
    width: 266px;
    height: 36px;
    margin: 0 auto;
    font-size: 14px;
}

.btn-login {
    width: 266px !important;
    margin: 20px auto;
    padding: 2px 0 !important;
    background-color: #3897f0;
    font-weight: 600;
    font-size: 14px;
}

.signup {
    width: 350px;
    /* height: 65.25vh; */
    background-color: white;
    margin: 10px auto 335px;
    border: 1px solid #e6e6e6;

}

.signup div {
    text-align: center;
    /* margin: 0 auto; */
    padding: 20px 0;
    color: #262626;
    font-size: 14px;
}

/* register */
.register {
    width: 350px;
    /* height: 65.25vh; */
    margin: 90px auto 0;
    border: 1px solid #e6e6e6;
    background-color: white;
}

.register h1 {
    margin-top: 25px;
    font-family: 'Rancho', cursive;
    color: black;
    /* font-size: 30px; */
}


.btn-register {
    width: 266px !important;
    margin: 20px auto;
    padding: 2px 0 !important;
    background-color: #3897f0;
    font-weight: 600;
    font-size: 14px;
}

.registerInput {
    /* background-color: red; */
    width: 266px;
    height: 36px;
    margin: 0 auto;
    font-size: 14px;
}

.signup2 {
    margin-bottom: 250px !important;
}

/* dashboard */
.dashboard .container {
    /* background-color: red; */
    max-width: 950px;
}

.dashboard-buttons {
    /* background-color: red; */
    width: 950px;
    height: 53px;
    border-top: 1px solid #efefef;
    text-align: center;
}

.dashboard-buttons ul {
    list-style: none;
    padding: 0px;
}

.dashboard-buttons i {
    margin-right: 3px;
}

.dashboard-buttons li {
    width: 64px;
    color: #262626;
    font-size: 12px;
    font-weight: bold;
    margin: 0px auto;
    padding: 13px 0;
    border-top: 1px solid black;
    text-transform: uppercase;
}

.dashboard-img-feed {
    display: inline-flex;
    width: 950px;
    /* height: 1000px; */
}

.dashboard-img {
    height: 293px;
    width: 293px;
    margin: 0px;
    object-fit: cover;
}


.img-0 {
    margin: 0 14px 28px 7.5px;
}

.img-1 {
    margin: 0 14px 28px 14px;
}

.img-2 {
    margin: 0 7.5px 28px 14px;
}

/* create profile */
.req-fields {
    margin-top: 10px;
    text-align: right;

}

.req-fields small {
    /* background-color: red; */
    padding-right: 20px;
}

.btn-createprofile {
    color: #212529;
    background-color: white;
    padding: 5px 15px !important;
    border: 1px solid #efefef;
}

.create-profile-dashboard {
    min-height: 710px;
}

.create-profile-form {
    /* width: 100%; */
    margin: 0 auto;
    
}

.create-profile-form .row {
    width: 100%;
    min-height: 750px;
    margin: 36px auto 0px;
    display: inline-flex;
}

.create-profile-form .left-col {
    background-color: white;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #dbdbdb;
    margin-left: 7%;
    width: 21.75%;
}

.create-profile-form .left-col div {
    padding: 15px 0 15px 30px;
    font-weight: 600;
    border-left: 2px solid black;
}

.create-profile-form .right-col {
    background-color: white;
    border: 1px solid #dbdbdb;
    width: 64.25%;
    margin-right: 7%;
}

.profilechanges {
    /* background-color: red; */
    width: 350px;
    margin: 8px 25px 0 !important;
    height: 32px;
    font-size: 14px;
    border: 1px solid #efefef;
    
}

.labelfieldgroup {
    /* background-color: red; */
    display: flex;
    height: 48px;
}

.labelfieldgroup .label {
    /* background-color: red; */
    margin: 0.75rem 0px;
    width: 150px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}

.profile-private-info {
    /* background-color: red; */
    margin-top: 50px;
    margin-left: 175px;
    margin-bottom: 15px;
    color: #999;
    font-size: 14px;
    font-weight: 600;
}

.social-btn {
    background-color: white;
    border: 1px solid #efefef;
    margin-top: 10px;
    margin-left: 175px;
}

.social-submit-btn {
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    width: 75px !important;
    margin-left: 175px;
    padding: 5px 9px !important;
    
}

/* profile content */
.profile {
    width: 800px;
    height: 152px;
    margin: 36px 75px 44px 75px;
    /* margin-bottom: 44px; */
    display: inline-flex;
    justify-content: space-between;
}

.profile-content {
    width: 562px;
    height: 152px;
    padding-left: 25px;
}

.profile-content-1 {
    /* background-color: red; */
    display: inline-flex;
    margin-bottom: 20px;
}

.profile-content-1 h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
    margin: 0 10px 0 0;
}

.profile-content-1 .edit-profile {
    width: 95px;
    height: 30px;
    padding: 5px 9px;
    margin: auto 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #262626;
    background-color: transparent;
    border: 1px solid #dbdbdb;
    border-radius: 4px;

}

.profile-content-2 ul {
    list-style: none;
    display: inline-flex;
    justify-content: space-evenly;
    padding: 0px;
}

.profile-content-2 li {
    margin: 0 40px 0 0;
}

.logout {
    color: black;
    font-size: 24px;
    margin-left: 5px;
    
}

.logout:hover {
    cursor: pointer;
}

.delete-account {
    color: red;
    font-size: 24px;
    margin-left: 5px;
    margin-right: 5px;
    
}

.delete-account:hover {
    cursor: pointer;
}

/* post feed */
.post-header {
    /* height: 27px; */
}

.post-header-container {
    /* background-color: red; */
    display: inline-flex;
    width: 95%;
    
    margin: 0 auto;
    padding: 16px 0;
    border-bottom: 1px solid #efefef;
}

.post-info {
    margin-left: 10px;
    line-height: 15px;
}

.post-name {
    font-weight: 600;
    color: #262626;
}

.post-location {
    font-size: 12px;
}

.post-block {
    width: 620px;
    margin: 0 0 0 5%;

}

.picturethumbnail {
    padding: 0 0;
    border-bottom: 1px solid lightgrey;
    
}

.picturethumbnail img {
    object-fit: cover;
}

.text-28 {
    font-size: 28px;
    padding: 10px 0px 7.5px 15px;
}

.mb-60 {
    margin-bottom: 60px;
}

.btn {
    padding: 0px;
}

.post-pic button:focus {
    outline: none;
}

.text-info {
    color: red !important;
}

.text-info:focus {
    outline: none;
}

.post-comment {
    margin-left: 15px;
    font-size: 14px;
    font-family: "Helvetica";
}

.post-comment span {
    font-weight: 600;
    margin-right: 5px;
    margin-bottom: 5px;
}

.post-likes {
    font-weight: 600;
    margin-left: 15px;
    font-size: 14px;
    font-family: "Helvetica";
    padding-bottom: 5px;
}

.comment-input {
    border-top: 1px solid lightgrey;
    margin-left: 15px;
    width: 95%;
    height: 65px;
    padding: 10px 0;
}

.comment-input form {
    display: flex;
    justify-content: space-between;
}

.comment-input button {
    height: 40px;
}

.comment-input .form-group .form-control {
    /* background-color: red; */
    width: 550px;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    padding-left: 0px;
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
}

/* side post feed */
.side-post-feed {
    /* border: 1px solid black; */
    width: 290px;
    min-height: 300px;
    float: right;
    margin-top: 75px;
    margin-right: 89px;
    position: sticky;
    top: 45px;
}

.side-header-container {
    /* background-color: red; */
    display: inline-flex;
    width: 95%;
    
    margin: 0 auto 0 0;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #efefef;
}

.side-name {
    margin: 15px 0;
    font-weight: 600;
    color: #262626;
}

.side-profiles {
    /* background-color: red; */
    padding: 12px 0 16px;
    font-weight: 500;
    color: #999;
    font-size: 14px;
}

.side-profile-container {
    /* background-color: red; */
    display: inline-flex;
    width: 95%;
    
    margin: 0 auto 0 0;
    padding: 0 0 15px 0;
}

/* post form */
.dropzone-text-container {
    background-color: white;
    border: 1px solid #efefef;
    width: 75px;
    height: 50px;
    margin-left: 5%;
    margin-bottom: 25px;
    text-align: center;
    padding: 0px 0;
}

.dropzone-text-container:hover {
    cursor: pointer;
}

.dropzone-text-container p {
    padding: 10px 0;
}

.dropzone-text-container-2 {
    background-color: white;
    /* border: 1px solid lightgrey; */
    width: 620px;
    /* height: 50px; */
    margin-left: 5%;
    margin-bottom: 25px;
    text-align: center;
    padding: 0px 0;
}


.dropzone-text-container-2:hover {
    cursor: pointer;
}

.form-group-post {
    width: 90%;
    margin: 12px auto;
}

.form-group .form-control {
    /* border: none; */
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
}

.attach-btn {
    /* background-color: red; */
    padding: 5px 10px;
    margin-top: 10px;
    border: 1px solid #efefef;
}

.post-submit-btn {
    margin: 0 0 15px 0;
    padding: 5px 15px;
    border: 1px solid #efefef;
}

/* .dropzone-text-container-2 p {
    padding: 10px 0;
} */



/* footer */
.footer {
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px !important;
  
}

.footer-cont {
    max-width: 935px;
    /* margin: 30px auto; */
    padding: 38px 0 !important;
    margin: 30px auto 0 auto !important;
    display: inline-flex;
}

.footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px 7px;
    flex-direction: row;
    /* display: block; */
    /* justify-content: space-evenly; */
}

.footer span {
    margin-left: 50px;
}

.footer li {
    display: inline-block;
    margin: 0 8px;
}